body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.background {
    width: 100%;
    height: 150vh;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #004D93;
}

.text-container {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    -webkit-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

.text-container:hover {
    transform: translate(-50%, -55%);
}

.text-content {
    text-align: left;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 77, 147, 0.7);
    box-shadow: 0px 0px 20px rgba(0, 77, 147, 0.7);
    padding: 30px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 60px;
}

.large-text {
    font-size: 44px;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    line-height: 54px;
    margin-bottom: 20px;
    -webkit-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.white-text {
    color: white;
    margin-bottom: 20px;
}

.highlight-text {
    color: #F0ADDD;
    -webkit-background-clip: text;
    background-clip: text;
    background: linear-gradient(to right, #ff5e62, #ff9966);
    margin-bottom: 30px;
}

.platform-container {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.platform-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.platform-title {
    font-size: 2rem;
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-stroke: 1px #F0ADDD;
    margin-bottom: 20px;
}

.platform-description {
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.platform-steps {
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-left: 20px;
    font-weight: 700;
    font-style: italic;
    margin-top: 20px;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.platform-tagline {
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-left: 20px;
    margin-bottom: 20px;
}

.decorator {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
}

.decorator-pink-highlight {
    width: 40%;
    height: 50px;
    background: rgba(240, 173, 221, 0.46);
    margin-left: 20px;
    border-radius: 10px;
}

.decorator-pink-box {
    background: #F0ADDD;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}