* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    display: flex;
	flex-direction: column;
	align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
	-webkit-font-smoothing: antialiased;
}

section {
	width: 100%;
	margin-bottom: 20px;
}

.pink-banner-background { 
	background-color: rgba(240, 173, 221, 1);
	width: 100%;
	height: 10vh;
	display: flex;
	align-items: center; 
	justify-content: center;
}

.memry-location { 
	width: 80%;
	max-width: 1280px;
	display: flex; 
	justify-content: space-between; 
	align-items: center;
}
.memry-text { 
	color: rgba(255, 255, 255, 1);
	font-family: Poppins;
	font-size: 2rem;
	letter-spacing: 1px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.6);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.navigation-container-setting { 
    display: flex; 
	gap: 2rem;
	align-items: center;
	margin-left: auto;
}

.faq-location { 
	display: flex;
	align-items: center;
	margin: 0 1rem;
}

a.faq-text { 
	color: rgba(255, 255, 255, 1);
	font-family: Poppins;
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	transition: color 0.3s, transform 0.3s;
	-webkit-transition: color 0.3s, transform 0.3s;
}

a.faq-text:hover {
	color: skyblue;
	transform: scale(1.1);
}

.media-location { 
	display: flex;
	align-items: center;
	margin: 0 1rem;
}

a.media-text { 
	color: rgba(255, 255, 255, 1);
	font-family: Poppins;
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	transition: color 0.3s, transform 0.3s;
	-webkit-transition: color 0.3s, transform 0.3s;
}

a.media-text:hover {
	color: skyblue;
	transform: scale(1.1);
}

.community-location { 
	display: flex;
	align-items: center;
	margin: 0 1rem;
}

a.community-text { 
	color: rgba(255, 255, 255, 1);
	font-family: Poppins;
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	transition: color 0.3s, transform 0.3s;
	-webkit-transition: color 0.3s, transform 0.3s;
}

a.community-text:hover {
	color: skyblue;
	transform: scale(1.1);
}

.contact-location { 
	display: flex;
	align-items: center;
	margin: 0 1rem;
	position: relative;
}

a.contact-text { 
	color: rgba(255, 255, 255, 1);
	font-family: Poppins;
	font-size: 1rem;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	transition: color 0.3s;
}

a.contact-text:hover {
	color: skyblue;
}

.contact-border { 
	border: 3px solid rgba(255, 255, 255, 1);
	width: 6rem;
	height: 3rem;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1rem;
	transition: border-color 0.3s, transform 0.3s;
    -webkit-transition: border-color 0.3s, transform 0.3s;
    cursor: pointer;
	background: linear-gradient(135deg, #F0ADDD, #004D93);
    background-size: 200% 200%;
    transition: background-position 0.5s ease-in-out;
}

.contact-border:hover {
	border-color: skyblue;
	transform: translateY(-5px);
	background-position: 100% 100%;
}

.contact-border:hover a.contact-text {
	color: skyblue;
}